<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Acord</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <main>
    <x-accordian>
      <x-accordian-item title="one">content one</x-accordian-item>
      <x-accordian-item title="two">content two</x-accordian-item>
      <x-accordian-item title="three">content three</x-accordian-item>
    </x-accordian>
  </main>

  <script src="accordian.js"></script>
</body>

</html>