.container {
    max-width: 760px;
    margin: 0 auto;
}

v-tab {
    border: 1px solid #333;
    padding: 20px;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
    display: inline-block;
}

v-panel {
    padding: 20px;
    background-color: antiquewhite;
    display: block;
}

/* [selected] is for the prop existsing on a component */
v-tab[selected] {
    background-color: aqua;
}

[hidden] {
    display: none !important;
}