body, html {
    margin: 0;
}

body {
    background: #E2E8F0;
}

.container {
  max-width: 760px;
  margin-top: 200px;
  margin: 100px auto 0 auto;
}

.box {
    background-color: #FFF;
    border-radius: 4px;
    min-height: 100px;
    border: 0;
    padding: 16px;
}

.bar-box {
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-column-gap: 10px;
    align-items: end;
    height: 150px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    padding-left: 10px;
    /* flex-grow: 1; */
}

.bar {
    background-color: black;
    height: 50%;
}

.chart {
    display: flex;
}

.left-ticks {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 5px;
    align-items: flex-end;
    padding-bottom: 16px;
}

.bar-right {
    flex-grow: 1;
}

.bottom-ticks {
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-column-gap: 10px;
    /* align-items: end; */
    padding-left: 11px;
    /* flex-flow: row nowrap; */
    /* justify-content: space-between; */
}

/* bottom ticks need to be realigned */

.bottom-ticks div {
    justify-self: center;
}