/*
- should use css variables
- do it based on chakra: https://chakra-ui.com/docs/theming/theme
- nail these down in your head so you can wip up clean designs quickly
*/
html, body {
    margin: 0;
    height: 10000px;
}

body {
    background: #E2E8F0;
}

.container {
    max-width: 760px;
    margin: 0 auto;
    margin-top: 120px;
}

.card {
    width: 100%;
    height: auto;
    background: #FFF;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.carousel {
    min-height: 100px;
    overflow: hidden;
    position: relative;
}

.gallery {
    border-radius: 3px;
    width: max-content; /* DOES not work on IE */
    height: 250px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    will-change: transform;
    transform: translateX(0px);
    transition: transform 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.gallery-image {
    height: 100%;
    width: auto;
}

.img-contain {
    display: flex;
    justify-content: center;
}

.left, .right {
    height: 100%;
    width: 50px;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    display: flex;
    align-items: center;
}

.left {
    left: 0;
    justify-content: flex-end;
}

.right {
    right: 0;
    justify-content: flex-start;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid black;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 30px solid black;
}

.dots {
    position: absolute;
    bottom: 16px;
    z-index: 1;
    display: flex;
    left: 50%;
    flex-direction: row;
    transform: translateX(-50%);
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid white;
    margin: 0 8px;
    cursor: pointer;
}

.dot.active {
    background: white;
}
