<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pin Input</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <h1>PIN</h1>
        <form action="#" id="form" method="post">
            <pin-input name="pin">
                <pin-input-field></pin-input-field>
                <pin-input-field></pin-input-field>
                <pin-input-field></pin-input-field>
                <pin-input-field></pin-input-field>
            </pin-input>
        </form>

        <button class="submit">
            Submit
        </button>
    </div>
</body>
<script src="input2.js"></script>

<script>
    (function () {
        const pin = document.querySelector('pin-input')
        const submit = document.querySelector('.submit')

        submit.addEventListener('click', event => {
            console.log(pin.value, pin.isValid)
            if (pin.isValid) {
                console.log('valid')
            }

            const form = document.querySelector('#form')
            console.log(form.pin, form.pin.value)
            window.form = form
        })
    })()
</script>

</html>