<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <button id="modal-btn">Open modal</button>
    </div>

    <v-modal>
        <v-modal-header>
            Title Yo!!!
        </v-modal-header>

        <v-modal-body>
            I am the body
        </v-modal-body>
    </v-modal>
</body>

<script src="modal.js"></script>
<script>
    // what do we need when using defer or async script loading? or modules?
    (function () {
        // need ids for multiple modals
        const modal = document.querySelector('v-modal')
        const button = document.querySelector('#modal-btn')

        button.addEventListener('click', event => {
            console.log('fire')
            modal.open = true
        })
    })()
</script>

</html>