<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <form id="form">
            <star-input size="5" value="3"></star-input>
        </form>
    </div>

    <script src="star.js"></script>
    <script>
        (function () {
            const form = document.querySelector('#form')


        })()
    </script>
</body>

</html>