html, body {
  margin: 0;
  padding: 0;
  background: #d6d6d6;
  font-family: Arial;
  font-size: 30px;
  color: #333;
}

body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 450px;
    padding: 16px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 3px;
    min-height: 400px;
}

.buttons {
  display: flex;
}

.buttons button {
  margin-left: 10px;
}

.square-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.square {
  height: 20px;
  width: 20px;
  background-color: salmon;
}