<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Data Fetch</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <main class="container">
    <h1>Data Fetch</h1>

    <data-fetch></data-fetch>
  </main>

  <script src="fetch.js"></script>
  <!-- https://www.random.org/integers/?num=200&min=1&max=10&col=1&base=10&format=plain&rnd=new -->
</body>

</html>